body {
    margin: 0;
}

.post * {
    margin: 0;
}

.post img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

.post {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(12, 1fr);
    column-gap: 40px;
    padding: 0 30px;
    font-family: 'Noto Sans Japanese', sans-serif;
    font-size: 16px;
    background-color: cornsilk;
}

.post-title {
    grid-column: 1 / 5;
    grid-row: 1 / 3;
    align-self: center;
    z-index: 10;
    font-size: 2.8125em;
    font-weight: 900;
    line-height: 1.2;
    color: navy;
}

.post-sub {
    grid-column: 1 / -1;
    grid-row: 2;
    color: #ddd;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.375em;
    font-weight: 900;
    letter-spacing: 0.14em;
    line-height: 1;
}

.post-date {
    grid-column: 5;
    grid-row: 2;
    justify-self: end;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875em;
}

.post-lead {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1.8;
    color: maroon;
}

.post-text01 {
    grid-column: 1 /3;
    grid-row: 5 / 9;
    font-size: 1em;
    font-weight: 200;
    line-height: 2;
    text-align: justify;
    text-justify: inter-ideograph;
}

.post-fig01 {
    grid-column: 3 / 6;
    grid-row: 3 / 7;
}

.post-catch {
    grid-column: 3 / 6;
    grid-row: 7;
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: 600;
    justify-self: center;
    align-self: center;
    text-align: center;
    color: maroon;
    quotes: '“' '”';
    display: grid;
    grid-auto-flow: column;
    column-gap: 5px;
}

.post-catch::before {
    content: open-quote;
}

.post-catch::after {
    content: close-quote;
}

.post-catch::after, .post-catch::before {
    color: #aaa;
    font-size: 2em;
    font-weight: 900;
}

.post-text02 {
    grid-column: 3 / 5;
    grid-row: 8 / 13;
    font-size: 1em;
    font-weight: 200;
    line-height: 2;
    text-align: justify;
    text-justify: inter-ideograph;
}

.post-fig02 {
    grid-column: 1 / 3;
    grid-row: 9 / 13;
}

.post-fig02 figcaption {
    font-size: 0.625em;
    font-weight: 500;
}

.post-sns {
    grid-column: 5;
    grid-row: 8 / 13;
    justify-self: end;
    align-self: center;
}

.post-sns ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    row-gap: 20px;
}

.post-sns a {
    font-size: 1.5em;
    color: #aaa;
    text-decoration: none;
    text-align: center;
    border: solid 1px #aaa;
    border-radius: 50%;
    display: block;
    width: 2em;
    height: 2em;
    line-height: 2em;    
}

@media (min-width: 1000px) {
    .post {
        width: 1000px;
        box-sizing: border-box;
        margin: auto;
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .post {
        grid-template-columns: none;
        grid-template-rows: none;
        row-gap: 20px;
        padding: 20px;
        font-size: 14.4px;
    }

    .post > * {
        grid-column: auto;
        grid-row: auto
    }

    .post-title {
        grid-column: 1;
        grid-row: 1;
    }

    .post-sub {
        grid-column: 1;
        grid-row: 2;
        font-size: 20px;
    }

    .post-date {
        grid-column: 1;
        grid-row: 2;
        align-self: end;
    }

    .post-lead {
        font-size: 16px;
    }

    .post-catch {
        margin-left: 0;
        margin-top: -35px;
        background: rgba(192, 233, 231, 0.603);
        box-shadow: 0 0 10px 10px rgba(192, 233, 231, 0.603);
        border-radius: 10px;
    }

    .post-text01, .post-text02 {
        font-size: 15px;
    }
}
